div {
    display: inline-block;
}
.smallImage {
    width: 360px;
}
.pizzaContainer {
    width: 1080px;
    margin: auto;
}
.pizzaDescription {
    width: 720px;
    float: left;
}
.pizzaImage {
    width: 360px;
    float: right;
}