<div ng-controller="ItemController">
	<h1>Részletes információ a pizzáról</h1>
	<div class="pizzaItems">
        <h2>{{pizzaItem.pizza_name}}</h2>
        <h3>Ár: {{pizzaItem.price}} Ft</h3>
        <h3>Feltét: <ul ng-repeat="topping in pizzaItem.topping_sub"><li>{{topping.topping_name}}</li></ul></h3>
        <img class="smallImage" alt="{{pizza.image}} kép" src="/image/{{pizzaItem.image}}.jpg" />
        <a href="/#/">Vissza a pizzákhoz</a>
    </div>

    <form>
        <label>Rendelni kívánt mennyiség:</label>
        <select ng-model="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>

        <button ng-click="prepare()">Előkészítés sütésre</button>
    </form>
</div>