<div ng-controller="OrderController">
	<h1>Pizza rendelés</h1>
	<div>
		<form>
			<fieldset>
				<label for="customerName">Megrendelő neve:</label><input id="customerName" type="text" ng-model="pizzaCustomerName" /><br />
				<label for="customerPhone">Megrendelő telefonszáma:</label><input id="customerPhone" type="text" ng-model="pizzaCustomerPhone" /><br />
				<label for="customerTownCode">Irányítószám:</label><input id="customerTownCode" type="text" ng-model="pizzaCustomerTownCode" /><br />
				<label for="customerTown">Telepulés:</label><input id="customerTown" type="text" ng-model="pizzaCustomerTown" /><br />
				<label for="customerStreet">Utca:</label><input id="customerStreet" type=text" ng-model="pizzaCustomerAddressStreet" /><br />
				<label for="customerHouse">Házszám:</label><input id="customerHouse" type="text" ng-model="pizzaCustomerAddressHouse" /><br />
				<label for="customerStair">Emelet:</label><input id="customerStair" type="text" ng-model="pizzaCustomerAddressStair" /><br />
				<label for="customerDoor">Ajtó:</label><input id="customerDoor" type="text" ng-model="pizzaCustomerAddressDoor" /><br />
			</fieldset>
			<fieldset>
				<!-- Megrendelések listája -->
				<p>Nincs még megrendelés</p>
			<fieldset>
				<button ng-click="sendPizzaOrder()" >Megrendelés elküldése</button>
		</form>
	</div>
</div>